<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="hamsa" translate="label" sortOrder="10">
            <label>Hamsa</label>
        </tab>
        <section id="high_value_order" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>High Value Order</label>
            <tab>hamsa</tab>
            <resource>Hamsa_HighValueOrder::configuration</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Module Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="trigger_price" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Trigger Price</label>
                    <validate>validate-zero-or-greater required-entry</validate>
                    <comment>A message is sent to the Slack channel if order's total price greater than or equal trigger price</comment>
                </field>
                <field id="webhook_url" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Slack Webhook URL</label>
                    <validate>validate-url required-entry</validate>
                    <backend_model>Hamsa\HighValueOrder\Model\Config\Backend\ValidateUrl</backend_model>
                    <comment>
                        <![CDATA[
                            Create Slack Webhook URL <a href="https://api.slack.com/messaging/webhooks#posting_with_webhooks" target="_bank">here</a></br>
                            Example: https://hooks.slack.com/services/T00000000/B00000000/XXXXXXXXXXXXXXXXXXXXXXXX
                        ]]>
                    </comment>
                </field>
                <field id="message_template" translate="label comment" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Message Template</label>
                    <validate>required-entry</validate>
                    <comment>Use can use order's attribute and customer's attribute</comment>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
